@charset "UTF-8";
@font-face {
    font-family: "KodeMono";
    src: url(../fontes/KodeMono-VariableFont_wght.ttf);
}

:root {
    --cor: rgb(1, 0, 10);
    --cor1: rgb(46, 46, 46);
    --cor2: rgb(104, 104, 104);
    --cor3: rgb(196, 196, 196);

    --trancor: rgba(0, 0, 0, 0.164);
    --trancor1: rgba(117, 117, 117, 0.295);
    --trancor2: rgba(240, 255, 255, 0.164);
}

* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
h1, h2 {font-family: "KodeMono";}
button {
    border: none;
    background-color: transparent;
    color: azure;
}
.divisao {
    height: 30px;
    background-image: linear-gradient(30deg, var(--cor2)30%,var(--cor3));
    border: 1px solid var(--cor1);
}

/* barra de navegaçao */

#nav_bar {
    position: fixed;
    background-image: linear-gradient(0deg, var(--cor),var(--cor1));
    height: 60px;
    width: 100%;
    border-bottom: 1px solid azure;
    z-index: 1;
}
#fmdev {
    position: absolute;
    color: azure;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}
#menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    border: 1px solid azure;
    border-radius: 10px;
    padding: 3px;
}
#dentro_menu {
    display: none;
    position: fixed;
    background-image: linear-gradient(0deg, var(--cor),var(--cor1));
    text-align: center;
    height: 200px;
    width: 80px;
    right: 5px;
    top: 65px;
    border: 1px solid azure;
    border-radius: 10px;
    padding: 3px;
}
#dentro_menu > * {
    padding: 2px 3px;
    margin-top: 20px;
    border: 1px solid var(--trancor2);
    border-radius: 5px;
}
#dentro_menu > *:hover {
    background-image: linear-gradient(0deg, var(--trancor), var(--trancor1));
    font-weight: bold;
}
#dentro_menu a {
    color: azure;
    text-decoration: none;
    
}

/* vazio */

#vazio {
    height: 60px;
    background-color: black;
}

/* head */

#start {
    color: azure;
    background-image: linear-gradient(60deg, var(--cor), var(--cor1));
    width: 100%;
    height: 300px;
    border-bottom: 2px solid black;
}
#nome {
    text-align: center;
    width: 90vw;
    font-size: 1.3em;
    margin: auto;
    padding: 10px 0;
}
#foto {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    margin-top: 20px;
}
#ceu {
    background-image: linear-gradient(155deg, var(--cor), var(--cor1) 52%);
    height: 200px;
}
#estrela {
    background-image: url(../imagens/estrelas.png);
    height: 90%;
    width: 100%;
}

/* about me */

#about_me {
    position: relative;
    background-image: linear-gradient(0deg, var(--cor), var(--cor1));
    height: 900px;
}
#mov_about_me {
    display: none;
    position: absolute;
    background-color: rgba(240, 255, 255, 0.6);
    right: -250px;
    padding: 3px;
    width: 80%;
    border: 1px solid azure;
    border-radius: 1em;
}
#recipiente {
    position: absolute;
    bottom: 8%;
    height: 20%;
    width: 90%;
    margin: 0 4% 0 6%;
}

/* habilidades */

#habilidades {
    position: relative;
    text-align: center;
    color: azure;
    background-image: linear-gradient(180deg, var(--cor), var(--cor1));
    height: 900px;
}
#habilidades > h1 {
    padding: 10px 0;
    font-size: 2em;
}
.hab {
    display: inline-block;
    color: black;
    background-color: var(--cor3);
    font-size: .8em;
    width: 40vw;
    margin: 10px 5px;
    padding: 3px;
    border: 1px solid azure;
    border-radius: 10px;

}
.img_hab {
    width: 90%;
}
#html {}
#css {}
#javascript {}
#ingles {}

.display_hab {
    display: none;
    position: absolute;
    background-color: var(--trancor);
    height: 250px;
    right: 8%;
    bottom: 10%;
    width: 80%;
    padding: 5px;
    border: 1px solid azure;
    border-radius: 10px;
    animation: normal 1s ease;
}